.container {
    position: relative;
    text-align: center;
    color: white;
    margin-left: 300px;
    margin-right: 300px;
}

.top {
    position: relative;
    
    bottom: 375px;
    font-size: 48px;
    text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000,
                 -1px -1px 0 #000;
				
}

.bottom {
    position: relative;
    
    bottom: 275px;
    font-size: 48px;
    text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000,
                 -1px -1px 0 #000;
    
}